@import '../../../variables';
.filter {
  background: $gris-cinotam;
}
.main-img {
  width: 100%;
  max-width: 100%;
}
.news-hero-container {
  * > {
    color: white;
  }
  position: relative;
  height: 30vh;
  padding: 0;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
  background-blend-mode: color-burn;
  .title-container {
    z-index: 99999;
    color: white;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: black;

    // opacity: 0.8;
    padding: 20px;
    font-size: 1.5em;
  }
}
.background {
  background: #dd2c00;
  opacity: 0.9;
  height: 30vh;
}
.article-container {
  background: $gris-cinotam;
}
.article-content {
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.2em;
  text-align: justify !important;
}
.button-bottom {
  padding: 10px;
  background-color: white;
  color: black;
  width: 2%;
  text-align: center;
  border-radius: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  a {
    text-decoration: none;
    color: black;
  }
}
.button-bottom:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
