<div class="container">
  <div class="row middle-xs">
    <div class="col-xs-6 text-center">
      <h1>
        Contacto
      </h1>
      <h2>
        <strong>C.P. Gabriela Gómez Hernández</strong>
      </h2>
      <p>
        <strong><a href="mailto:citco@uat.edu.mx">citco@uat.edu.mx</a></strong>
      </p>
      <p>
        Tel. (834)3181800 Ext. 2493
      </p>
    </div>
    <div *ngIf="form" class="col-xs-6">
      <h3 class="text-center">¿Tiene preguntas o dudas?</h3>
      <form (ngSubmit)="save()" [formGroup]="form">
        <div class="example-container">
          <mat-form-field>
            <input
              matInput
              formControlName="name"
              type="text"
              placeholder="Nombre"
              required
            />
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input
              matInput
              formControlName="email"
              type="email"
              placeholder="Email"
              required
            />
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input
              matInput
              formControlName="subject"
              type="text"
              placeholder="Asunto"
              required
            />
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <textarea
              matInput
              formControlName="message"
              placeholder="Mensaje..."
              required
            ></textarea>
          </mat-form-field>
        </div>
        <div *ngIf="windowDefined" class="example-container text-center center">
          <ngx-recaptcha2
            #captchaElem
            [siteKey]="'6LeeXRcUAAAAAJBW9N7D_VmLfQa2tmTDKQYl-m8p'"
            [useGlobalDomain]="false"
            formControlName="recaptcha"
          >
          </ngx-recaptcha2>
          <br /><br />
          <button
            [disabled]="!form.valid"
            style="width: 20%;"
            color="primary"
            mat-raised-button
          >
            Enviar
          </button>

          <br />
        </div>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Visita el Cinotam</h2>
    </div>
    <!-- <div class="col-lg-8"></div> -->
    <div class="col-lg-12">
      <div class="info-container">
        <div class="item">
          <img src="/assets/img/map.jpg" alt="" />
        </div>
        <div class="text-center">
          <p>Centro de Innovación y Transferencia del Conocimiento.</p>
          <p>Centro Universitario “Adolfo López Mateos”</p>
          <p>C.P. 87149</p>
          <p>Tel. 3181800 Ext. 2493</p>
          <p>Ciudad Victoria, Tamaulipas</p>
          <p>Correo electrónico: citco@uat.edu.mx</p>
        </div>
      </div>
    </div>
  </div>
</div>
