<div class="separator orange"></div>
<div class="footer-container container-fluid">
  <div class="row center-xs middle-xs">
    <div class="col-xs-4">
      <div class="left-logo-container">
        <img
          class="img-uat"
          [defaultImage]="'https://placeholder.pics/svg/450x300'"
          [lazyLoad]="'/assets/img/uat.png'"
          alt=""
        />
        <!-- <img class="img-posgrado" src="/assets/img/posgrado.png" alt="" /> -->
      </div>
    </div>
    <div class="col-xs-4 text-center">
      <h3>Universidad Autónoma de Tamaulipas</h3>
      <small>
        © Todos los derechos reservados 2019
      </small>
    </div>
    <div class="col-xs-4">
      <img
        class="prosoft"
        [defaultImage]="'https://placeholder.pics/svg/450x300'"
        [lazyLoad]="'/assets/img/prosoft.png'"
        alt=""
      />
    </div>
  </div>
</div>
