<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <h3>Ultimas Noticias</h3>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="row between-xs news-box">
  <div class="col-xs-3">
    <mat-card class="card">
      <mat-card-content>
        <h3>Culmina con éxito el curso “Tu imagen, tu mercado”</h3>
        <hr class="separator" />
        <p>
          <strong>
            13/09/2017
          </strong>
        </p>
        <p>
          Culmina con éxito el curso “ Tu imagen, tu mercado” Gestión de imagen
          empresarial.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
