<div class="hero-container">
  <div class="hero-text">
    <h1>BIENVENIDO AL CINOTAM</h1>
    <img
      [defaultImage]="
        'https://placeholder.pics/svg/450x300/DEDEDE/555555/Cargando%20imagen...'
      "
      [lazyLoad]="'/assets/img/prosoft.png'"
      alt=""
    />
    <h4>Centro de Innovación de la Universidad Autónoma de Tamaulipas</h4>
  </div>
</div>
<!-- <section class="section section-inverted">
  <app-home-buttons></app-home-buttons>
</section> -->
<section class="section">
  <div class="content">
    <h2>Acerca del Cinotam</h2>
    <hr />
    <p>
      El CINOTAM es el vínculo que potencia la integración dinámica entre la
      Universidad, el sector privado y el gobierno, buscando que a través de la
      transferencia del conocimiento y la tecnología se lleven las
      investigaciones innovadoras del aula a la comercialización, contribuyendo
      así al desarrollo productivo y económico de nuestro estado.
    </p>
  </div>
</section>
<section class="section section-inverted">
  <div class="content-about">
    <div class="item">
      <h2>Misión</h2>
      <hr />
      <p>
        Contribuir a la integración dinámica y sistémica de los recursos y
        capacidades del gobierno, el sector productivo, así como las
        instituciones de educación superior y centro de investigación, por medio
        de la innovación y transferencia del conocimiento/tecnología, a fin de
        impactar en los indicadores de desarrollo del estado de Tamaulipas y el
        incremento de la competitividad y productividad de las organizaciones
        públicas y privadas.
      </p>
    </div>
    <div class="item">
      <h2>Visión</h2>
      <hr />
      <p>
        Ser el centro reconocido a nivel territorial y nacional que contribuye
        en la vinculación de la cuádruple hélice, mediante innovación y
        transferencia del conocimiento/tecnología, como estrategias que
        coadyuvan a evaluar la competitividad y productividad de las
        organizaciones públicas y privadas en Tamaulipas.
      </p>
    </div>
  </div>
</section>
<section class="section">
  <div class="visita-cinotam-container">
    <h2>
      Visita el Cinotam
    </h2>
    <hr />
    <div class="info-container">
      <div class="item text-center">
        <p>Centro de Innovación y Transferencia del Conocimiento.</p>
        <p>Centro Universitario “Adolfo López Mateos”</p>
        <p>C.P. 87149</p>
        <p>Tel. 3181800 Ext. 2493</p>
        <p>Ciudad Victoria, Tamaulipas</p>
        <p>Correo electrónico: citco@uat.edu.mx</p>
        <a class="cinotam-button" mat-button [routerLink]="'/ventanillaunica'"
          ><i class="fa fa-mail-forward" aria-hidden="true"></i> Contacto</a
        >
      </div>
      <div class="item">
        <img
          [defaultImage]="
            'https://placeholder.pics/svg/450x300/DEDEDE/555555/Cargando%20imagen...'
          "
          [lazyLoad]="'/assets/img/map.jpg'"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="separator welcome"></div>
  <div class="logos">
    <div class="logo inegi">
      <img
        [defaultImage]="
          'https://placeholder.pics/svg/450x300/DEDEDE/555555/Cargando%20imagen...'
        "
        [lazyLoad]="'/assets/img/inegi.jpg'"
        alt=""
      />
    </div>
    <div class="logo conacyt">
      <img
        [defaultImage]="
          'https://placeholder.pics/svg/450x300/DEDEDE/555555/Cargando%20imagen...'
        "
        [lazyLoad]="'/assets/img/conacyt.png'"
        alt=""
      />
    </div>
    <div class="logo gobtam">
      <img
        [defaultImage]="
          'https://placeholder.pics/svg/450x300/DEDEDE/555555/Cargando%20imagen...'
        "
        [lazyLoad]="'/assets/img/gobtam.png'"
        alt=""
      />
    </div>
  </div>
</section>
