<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 text-center">
      <h3 class="text-center">
        Calendario de sesiones primer semestre de la Maestría en Gestión Pública
        e Innovación Gubernamental (modalidad en línea)
      </h3>
      <table class="table table-responsive">
        <tbody>
          <tr>
            <th class="text-center">Materia</th>
            <th class="text-center">Docente</th>
            <th class="text-center">Sesiones</th>
          </tr>
          <tr>
            <td>Planeación estratégica gubernamental y su marco jurídico</td>
            <td>
              <strong>Titular:</strong> Dra. Norma Angélica Pedraza Melo <br />
              <strong>Asociado:</strong> Mtro. Jesús Enrique García Ruíz <br />
            </td>
            <td>20,22,27,29 de agosto, 03 y 05 de septiembre</td>
          </tr>
          <tr>
            <td>Presupuesto en base a resultados y marco lógico</td>
            <td>
              <strong>Titular:</strong> Dr. Jesús Lavín Verástegui <br />
              <strong>Asociado:</strong> Mtra. Mara Elizabeth Muñiz Lerma <br />
            </td>
            <td>10,12,17,19,24 y 26 de septiembre</td>
          </tr>
          <tr>
            <td>Sistema de evaluación del desempeño</td>
            <td>
              <strong>Titular:</strong> Dra. Idolina Bernal González <br />
              <strong>Asociado:</strong> Mtra. Gabriela Gómez Hernández <br />
            </td>
            <td>01,03,08,10,15 y 17 de octubre</td>
          </tr>
          <tr>
            <td>
              Responsabilidad de los servidores públicos y la transparencia
            </td>
            <td>
              <strong>Titular:</strong> Dra. Maritza Álvarez Herrera <br />
              <strong>Asociado:</strong> Mtro. Erick Benito Salinas Maldonado
              <br />
            </td>
            <td>22,24,29,31 de octubre, 05 y 07 de noviembre</td>
          </tr>
          <tr>
            <td>Seminario de proyectos 1</td>
            <td>
              <strong>Titular:</strong>Dr. José Refugio Castro López <br />
            </td>
            <td>12,14,19,21,26 y 28 de noviembre</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-6">
      <div class="img-container">
        <p>
          <a href="/assets/img/maestria2019.png" target="_blank">
            <img
              [defaultImage]="
                'https://placeholder.pics/svg/450x300/DEDEDE/555555/Cargando%20imagen...'
              "
              [lazyLoad]="'/assets/img/maestria2019.png'"
              alt=""
            />
          </a>
        </p>
        <p>
          <a href="/assets/img/maestria2019trip1.png" target="_blank">
            <img
              class="master"
              alt=""
              [defaultImage]="
                'https://placeholder.pics/svg/450x300/DEDEDE/555555/Cargando%20imagen...'
              "
              [lazyLoad]="'/assets/img/maestria2019trip1.png'"
            />
          </a>
        </p>
        <p>
          <a href="/assets/img/maestria2019trip2.png" target="_blank">
            <img
              class="master"
              alt=""
              [defaultImage]="
                'https://placeholder.pics/svg/450x300/DEDEDE/555555/Cargando%20imagen...'
              "
              [lazyLoad]="'/assets/img/maestria2019trip2.png'"
            />
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
