<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Iniciar Sesión</h3>
    </div>
    <div class="col-xs-12" *ngIf="form">
      <form (ngSubmit)="login()" [formGroup]="form">
        <div class="example-container">
          <mat-form-field>
            <input
              matInput
              formControlName="email"
              type="email"
              placeholder="Email"
              required
            />
            <mat-error *ngIf="form.controls.email.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="example-container">
          <mat-form-field>
            <input
              matInput
              formControlName="password"
              type="password"
              placeholder="Contraseña"
              required
            />
            <mat-error *ngIf="form.controls.password.invalid">{{
              getErrorMessage()
            }}</mat-error>
          </mat-form-field>

          <button style="width: 20%;" color="primary" mat-raised-button>
            Iniciar Sesión
          </button>
          <br /><br />
        </div>
      </form>
    </div>
    <div class="col-xs-12"></div>
  </div>
</div>
